<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRMS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="full-length">
            <navbar class="nav">
                <div class="naming">
                    <img src="logo.png" alt="logo" width="50px" height="50px">
                    <h3 id="high_name">STUDENT REPORT MANAGEMENT SYSTEM</h1>
                </div>
                <div class="navigations">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/addStudent">Add Student</a></li>
                        <li><a href="/searchstudent">Search Student</a></li>
                    </ul>
                </div>
            </navbar>
            