<%- include ("../views/partials/header.ejs") %>
        <div class="search_container">
            <div class="search_box">
                <div class="id_to_enter">
                    <h3 style="margin:0px">Enter Student ID</h3>
                </div>
                <form action="/searchStudent" method="POST">
                    <input class="search_item" type="text" name="search_id" placeholder="eg., AP987432345" required>
                </form>
                <button id="search" type="submit">Search</button>
            </div>
        </div>
<%- include ("../views/partials/footer.ejs") %>